<html>
<div>
	<h3>채팅 리스트</h3>
	<div>
		<% if(result.length==0){ %>
			<div>채팅방이 없습니다</div>
			<% } %>
				<% for(chat of result){ %>
					<div class="chat">
						<a href="/chat/<%= chat._id %>">
							<p>채팅방 : <%= chat._id %>
							</p>
						</a>
						<p>참가자 : <span>
								<% for(member of chat.member){ %>
									<span>
										<%= member.username %> / 
									</span>
									<% } %>
							</span></p>
					</div>
					<% } %>
	</div>
</div>

</html>