*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.header{
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
}

.header .inner{
    display: flex;
}

.inner{
    max-width: 1170px;
    width: 100%;
    margin:0 auto;
}

.inner_full{
    width: 100%;
    margin:0 auto;
}

.content{
    width: 100%;
    padding:0px 40px;
}

.content .title{
    margin-bottom: 10px;
    text-align: center;
    font-family: inherit;
}

.content .wrap{
    display:flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.content .box{
    background-color: whitesmoke;
    height: 400px;
    transition: all .2s;
}

.content .box:hover{
    transform:scale(1.02, 1.02);
    z-index: 999;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}

.bestItem .box{
    width: 25%;
    
}

.newItem .box{
    width: 33.3333333333333333%;
    
}

.item .box{
    width:50%;
    
}

.footer{
    margin-top: 300px;
    width: 100%; 
    height: 100px;
    background-color: #666;
}

.main_img{
    display:block;
    margin:100px auto;
    width: 50%;
}

@media screen and (max-width: 1200px){
    .inner{
        width: 100%;
    }

    .content{
        width: 100%;
    }
    
    .bestItem .box{
        width: 50%;  
    }
   
}

@media screen and (max-width: 768px){
    .content{
        width: 100%;
        padding:0px 20px;
    }
    .bestItem .box{
        width: 100%;
    }
    
    .newItem .box{
        width: 100%;
    }
    
    .item .box{
        width: 100%;
    }
}