* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 헤더, 섹션, 푸터 */

.content {
  width: 100%;
  padding: 120px 0;
}
.inner {
  width: 1170px;
  margin: 0 auto;
}
.content .title {
  font: bold 24px "inherit";
  margin: 0 0 40px;
  text-align: center;
  color: black;
}
.content .wrap {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.content .wrap .box {
  width: 25%;
  height: 300px;
  border: 1px solid gray;
  background-color: whitesmoke;
}

.header {
  width: 100%;
  background-color: whitesmoke;
}
.header .inner {
  height: 100px;
  padding:0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 100px;
}


#gnb{
    display:flex;
    justify-content: flex-end;
}
#gnb > li{
    padding:0px 10px;
}
#gnb > li > a{
    font-size: 18px;
    color:#444;
}
.burgerBtn{
  display:none;
}


@media screen and (max-width:1200px){
  .gnbWrap{
    display:none;
    position:fixed;
    right:0;
    top:100px;
    width: 300px;
    height: 100%;
    background-color: yellow;
  }

  .burgerBtn{
    display:block;
    cursor: pointer;
  }

  .header .inner{
    width: 100%;
    padding:0 40px;
  }
  #gnb{
    flex-flow: column;
  }

  #gnb>li>a{
    line-height: 70px;
    padding:0 20px;
  }
}






.visual {
  width: 100%;
  height: 500px;
  background-color: pink;
}

.footer {
  width: 100%;
  padding: 50px 0;
  background-color: whitesmoke;
}
.footer .inner {
  display: flex;
}
.footer div {
  border: 1px solid lightgray;
}
.footer .fLogo {
  width: 10%;
}
.footer .fMenu {
  width: 60%;
}
.footer .fSns {
  width: 30%;
}
