<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Member</title>
        <link rel="stylesheet" href="/nav.css">
        <link rel="stylesheet" href="/member-add.css">
    </head>
    <body>
        <%- include ('nav.ejs') %>
        <section class="content">
            <h2>CREATE</h2>
            <form action="./add" method="post">
                <table class="table">
                    <tr>
                        <th>
                            <label for="">name :</label>
                        </th>
                        <td>
                            <input type="text" name="name">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="">team :</label>
                        </th>
                        <td>
                            <select name="team">
                                <option value="">default</option>
                                <option value="engineering">engineering</option>
                                <option value="marketing">marketing</option>
                                <option value="sales">sales</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="">position :</label>
                        </th>
                        <td>
                            <input type="text" name="position">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="">email :</label>
                        </th>
                        <td>
                            <input type="text" name="emailAddress">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="">phone :</label>
                        </th>
                        <td>
                            <input type="text" name="phoneNumber">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="">AdmissionDate :</label>
                        </th>
                        <td>
                            <input type="date" name="admissionDate">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="">Birthday :</label>
                        </th>
                        <td>
                            <input type="date" name="birthday">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="btn-cell">
                            <input type="submit" value="ADD" class="btn">
                        </td>
                    </tr>
                </table>
            </form>
        </section>
    </body>
</html>
