<html>
	<form class="form" onsubmit="handleSubmit(event, this)">
		<h2>글쓰기</h2>
		<input type="text" name="title" />
		<input type="text" name="content" />
		<button type="submit">전송</button>
	</form>
	<script>
		const handleSubmit = (e, f)=>{
			e.preventDefault()
			let body = {
				title : f.title.value,
				content : f.content.value
			}

			fetch('/posts', {method : 'post', body : JSON.stringify(body) , headers : {'Content-Type' : 'application/json'}})
			.then(res => res.text())
			.then(text =>{
				alert(text)
				location.href='/posts'
			})
		}
	</script>
</html>