<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include ('nav.ejs') %>
    <% if(userData){ %>
    <h2>접속자 : <%= userData.nickname %></h2>
    <% } %>
</body>
</html>