<header class="header">
    <div class="container">
        <div class="logo-wrapper">
            <a href="/">
                <h2 class="logo">LOGO</h2>
            </a>
        </div>
        <ul class="gnb">
            <li><a href="/">Main</a></li>
            <li><a href="/board">Board</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
</header>