<header class="header">
    <div class="container">
        <div class="logo-wrapper">
            <a href="/">
                <h2 class="logo">LOGO</h2>
            </a>
        </div>
        <ul class="gnb">
            <li><a href="/">메인</a></li>
            <li><a href="/board">게시판</a></li>
            <% if(!userData){ %>
                <li><a href="/login">로그인</a></li>
            <% }else{ %>
                <li><a href="/logout">로그아웃</a></li>
            <% } %>
        </ul>
    </div>
</header>