*{margin:0; padding:0; box-sizing: border-box;}
ol,ul,li{list-style: none;}
a{text-decoration: none;}

.login{padding:130px 0;}
.login .title{text-align: center; color:#2DB400; font-weight: 600;}
.login .wrap{width: 460px; margin:0 auto; border:1px solid black; border-radius: 5px;}
.login .wrap .menu-wrap{padding:0; display: flex;}
.login .wrap .menu-wrap .menu-item{width: 100%; text-align: center; padding:15px 0; position: relative;}
.login .wrap .menu-wrap .menu-item::after{content: ''; width: 1px; height: 100%; background-color: black; position: absolute; right:0; top:0;}
.login .wrap .menu-wrap .menu-item:last-of-type::after{display: none;}
.login .wrap .menu-wrap .menu-item > a{color:black;}

.login .wrap .login-panel{padding:20px 28px;}
.login .wrap .login-panel .id-pwd-wrap{width:100%; display: flex; flex-flow: column; gap:10px;}
.login .wrap .login-panel .id-pwd-wrap .idPwd{position: relative; width:100%; border:1px solid lightgray; padding:14px 17px 13px; border-radius: 5px;}
.login .wrap .login-panel .id-pwd-wrap .idPwd:focus-within{border:1px solid #2DB400;}
.login .wrap .login-panel .id-pwd-wrap .idPwd:focus-within .input-label{
    color:#2DB400;
}

.login .wrap .login-panel .id-pwd-wrap .idPwd .input-label{position: absolute; transition: all .2s; left: 15px; top:25%; color:gray;}
.login .wrap .login-panel .id-pwd-wrap .idPwd.labelUp .input-label{
    top: -9px; background-color: white; font-size: 12px; padding:0 2px;
}
.login .wrap .login-panel .id-pwd-wrap .id-pw-input{border:none; width: 100%; outline: none;}


.login .wrap .login-panel .login-keep-wrap{display: flex; justify-content: space-between; margin-top: 10px;}


.login .wrap .login-panel .login-error-wrap{display:none;margin-top: 20px; font-size: 13px; color:red;}
.login .wrap .login-panel .login-error-wrap.show{display:block;}


.btn-wrap{margin-top: 30px;}
.btn-wrap > input{width: 100%; border:1px solid darkgreen; background-color: #2DB400; border-radius: 5px; color:white; font-size: 20px; font-weight: 600; padding:10px 0;}